/* ==================================================
   Fonts
================================================== */

/* ==================================================
   Basic Styles
================================================== */
*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  font-family: "Montserrat",sans-serif;
  color: #706F6F;
}

ul {
  margin: 0;
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Niconne', cursive;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
}

/* ==================================================
   Videos
================================================== */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==================================================
    Sections
================================================== */
.jbp-section {
  padding: 70px 0;
  background-color: #FFFFFF;
}

/* ==================================================
    Home
================================================== */
#home {
  color: #FFFFFF;
  background: transparent;
  min-height: 460px;
  padding-top: 100px;
}

#home .background {
  width: 100%;
  position: absolute;
  margin-top: -100px;
  z-index: -1;
}

#home .logo {
  margin: 0 auto;
}

#home .slogan {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
  margin-bottom: 80px;
}

#home .slogan strong {
  font-size: 28px;
}

/* ==================================================
    Academic Levels
================================================== */
#academic-levels {
  padding: 0;
  background: url('../img/grid_bg.png') repeat top left #fff;
}

#academic-levels h2 {
  color: #4CAF50;
}

#academic-levels .col-initial {
  padding: 50px 100px;
}

#academic-levels .academic-level {
  padding: 40px 20px;
}

#academic-levels h3 {
  font-size: 40px;
  text-align: center;
}

#academic-levels img {
  border-radius: 10px;
}

#academic-levels p {
  text-align: center;
  min-height: 100px;
  color: #4C4C4C;
}

#academic-levels .academic-level.initial {
  background-color: #F9F7D0;
}

#academic-levels .academic-level.initial h3{
  color: #A7A362;
}

#academic-levels .academic-level.primary {
  background-color: #B7CCAB;
}

#academic-levels .academic-level.primary h3{
  color: #65735C;
}

#academic-levels .academic-level.secundary {
  background-color: #81D9F3;
}

#academic-levels .academic-level.secundary h3{
  color: #416D79;
}

/* ==================================================
   School of Tomorrow
================================================== */
#school-of-tomorrow {
  color: #3F51B5
}

#school-of-tomorrow h2 {
  color: #3F51B5;
}
/* ==================================================
   SCA
================================================== */
#sca {
  background:#FFFFFF;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
}

#sca h2 {
  color: #F44336;
}

#sca h3 {
  text-align: center;
}

#sca .module {
  margin: 0 0 6em;
}

#sca .module h3 {
  padding: 0.5em 0 1.5em;
}

#sca .module p {
  font-size: 18px;
}

#sca .module .row {
  margin-bottom: 20px;
}

#sca #video1,
#sca #video2,
#sca #video3,
#sca #video4,
#sca #video5,
#sca #video6 {
  max-width: 634px;
  display: inline-block;
  height: auto;
  margin: 0 15px;
  position: relative;
  width: auto;
}

#sca #video1 .video-js,
#sca #video3 .video-js,
#sca #video5 .video-js {
  position: absolute;
  top: 4.9%;
  left: 10.7%;
  width: 79% !important;
  height: auto !important;
}

#sca #video1 .video-js video,
#sca #video2 .video-js video,
#sca #video3 .video-js video,
#sca #video4 .video-js video,
#sca #video5 .video-js video,
#sca #video6 .video-js video {
  height: auto !important;
}

#sca #video1 img,
#sca #video2 img,
#sca #video3 img,
#sca #video4 img,
#sca #video5 img,
#sca #video6 img {
  width: 100%;
  height: 100%;
}

#sca #video2 .video-js,
#sca #video4 .video-js,
#sca #video6 .video-js {
  position: absolute;
  top: 8.5%;
  left: 4%;
  width: 92% !important;
  height: auto !important;
}

#sca .module .video-js {
  margin: 0 auto;
}

#attendance h3 {
  color: #FFEE58;
}

#evaluation h3 {
  color: #9FA8DA;
}

#task h3 {
  color: #66BB6A;
}

/* ==================================================
   Gallery
================================================== */
#gallery {
  color: #FFFFFF;
}

#gallery h2 {
  color: #2196F3;
}

#gallery ul.filterOptions {
  text-align: center;
  margin-bottom: 40px;
}

#gallery ul.filterOptions li {
  border: 1px solid transparent;
  text-decoration: none;
}

#gallery ul.filterOptions li a{
  text-decoration: none;
}

#gallery ul.filterOptions li:hover {
  border: 1px solid #0196AF;
}

#gallery ul.filterOptions li.active {
  border: 1px solid #0196AF;
  background-color: #0196AF;
}

#gallery ul.filterOptions li.active a{
  color: #FFFFFF;
}

#gallery .item {
  display: inline-block;
  float: none !important;
  padding: 0 3px 3px 0;
  width: 230px
}

#gallery .item-content {
  margin: 3px;
  float: left;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
}

#gallery .item-content img {
   display: block;
   position: relative;
}

#gallery .item-content h3 {
   text-align: center;
   position: relative;
   font-size: 16px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.4);
}

#gallery .item-content .item-mask {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

#gallery .item-content .item-mask ul {
  height:  118px;
  margin: 5px 0 5px 0;
}

#gallery .item-content .item-mask li {
   font-size: 12px;
   position: relative;
   text-align: left;
   padding-left: 10px;

}

#gallery .item-content .item-mask {
  text-align: right;
}


/*------Transition-------*/

#gallery .item-content .item-mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(77,77,77, 0.9);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

#gallery .item-content:hover .item-mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

#gallery .item-content img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#gallery .item-content:hover img {
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}

#gallery .item-content h3 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

#gallery .item-content a.item-mask-info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

#gallery .item-content:hover a.item-mask-info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

#gallery .item-content:hover h3,
#gallery .item-content:hover a.project-mask-info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}

/* ==================================================
   About us
================================================== */
#about-us {

}

#about-us h2{
  color: #FF9800;
}

#about-us h3 {
  color: #FFC107
}

/* ==================================================
   Contacts
================================================== */
#contact {

}

#contact h2 {

}
