/* ==================================================
   Fonts
================================================== */

/* ==================================================
   Basic Styles
================================================== */
*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  font-family: "Montserrat",sans-serif;
  color: #706F6F;
}

ul {
  margin: 0;
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Niconne', cursive;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #006089;
}

p {
  font-size: 16px;
}

/* ==================================================
   Videos
================================================== */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==================================================
    Sections
================================================== */
.jbp-section {
  padding: 70px 0;
  background-color: #FFFFFF;
}

/* ==================================================
    Home
================================================== */
#home {
  color: #FFFFFF;
  background: transparent;
  min-height: 460px;
  padding-top: 100px;
}

#home .background {
  width: 100%;
  position: absolute;
  margin-top: -100px;
  z-index: -1;
}

#home .logo {
  margin: 0 auto;
}

#home .slogan {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
  margin-bottom: 80px;
}

#home .slogan strong {
  font-size: 28px;
}

/* ==================================================
    OPC 1
================================================== */
#home.home-opc-1 {
  min-height: 0;
  padding: 30px 0;
  background-color: #004968;
}

#home.home-opc-1 .slogan {
  margin-bottom: 30px;
}

/* ==================================================
   jbp Nav
================================================== */
.jbp-header{
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .jbp-header {
    height: 70px;
    background-color: transparent;
    box-shadow: none;
  }
}

#logo-header {
  float: left;
  margin: 13px 0 0 5%;
}

#logo-header img {
  display: block;
  height: 50px;
}

#logo-header{
  margin: 10px 0 0 5%;
}

#logo-header.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }

@media only screen and (min-width: 1170px) {
  /*#logo-header.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left)
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }*/
  #logo-header.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    left: 5%;
    opacity: 1;
    z-index: 100;
  }
}

.jbp-nav {
  position: relative;
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jbp-nav ul{
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: rgba(55, 140, 88, 0.96);
  visibility: hidden;
  z-index: 99;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}

.jbp-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}

.jbp-nav li a {
  display: block;
  padding: 1.6em;
  border-bottom: 1px solid #4c4c4c;
  color: #fff;
}
.jbp-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 1170px) {
  .jbp-nav {
    z-index: 99;
    height: 90px;
    /*background-color: rgba(247, 145, 0, 0.96);*/
    background-color: rgba(55, 140, 88, 0.96);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  .jbp-nav nav, .jbp-nav ul, .jbp-nav li, .jbp-nav a {
    height: 100%;
  }
  .jbp-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
  .jbp-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  .jbp-nav li a {
    position: relative;
    text-align: center;
    display: block;
    padding: 37px 35px 0 35px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
  }
  .jbp-nav li a b {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    /*color: rgba(240, 238, 225, 0.3);*/
    color: #fff;
    letter-spacing: 2px;
  }
  .jbp-nav li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-image: url(../img/cd-nav-icons.svg);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .jbp-nav li a:hover b {
    color: #4c4c4c;
  }
  .jbp-nav li:nth-child(1) a span {
    background-position: 0 0;
  }
  .jbp-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
  .jbp-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }
  .jbp-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }
  .jbp-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }
  .jbp-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
  }
  .jbp-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .jbp-nav.animate-children ul{
    height: 50px;
    margin-top: 10px;
  }
  .jbp-nav.animate-children li a {
    padding: 17px 30px 0 30px;
  }
  .jbp-nav li a.active{
    background-color: rgb(178, 205, 146);;
    border-radius: 4px;
  }
  .jbp-nav.animate-children li a.active b {
    color: #fff;
  }
  .jbp-nav.animate-children li a span {
    opacity: 0;
  }
}

.jbp-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  /*background: rgba(247, 145, 0, 0.96);*/
  background: rgba(55, 140, 88, 0.96);
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.jbp-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f0eee1;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.jbp-nav-trigger span::before, .jbp-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.jbp-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.jbp-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.jbp-nav-trigger.menu-is-open {
  background: transparent;
  z-index: 100;
}
.jbp-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}
.jbp-nav-trigger.menu-is-open span::before, .jbp-nav-trigger.menu-is-open span::after {
  background: #f0eee1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}
.jbp-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.jbp-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  .jbp-nav-trigger {
    display: none;
  }
}

/* ==================================================
    Academic Levels
================================================== */
#academic-levels {
  padding: 0;
  /*background: url('../img/grid_bg.png') repeat top left #fff;*/
}

#academic-levels h2 {
  /*color: #4CAF50;*/
}

#academic-levels p {
  font-size: 18px;
}

#academic-levels .col-initial {
  padding: 50px 100px;
}

#academic-levels .academic-level {
  padding: 40px 20px;
}

#academic-levels h3 {
  font-size: 70px;
  text-align: center;
  font-family: 'Niconne', cursive;
}

#academic-levels img {
  border-radius: 10px;
}

#academic-levels p {
  text-align: center;
  min-height: 100px;
  color: #4C4C4C;
}

/* ==================================================
    OPC 1
================================================== */
#academic-levels.opc-1 .academic-level.initial {
  background-color: #F9F7D0;
}

#academic-levels.opc-1 .academic-level.primary {
  background-color: #B7CCAB;
}

#academic-levels.opc-1 .academic-level.secundary {
  background-color: #81D9F3;
}

/* ==================================================
    OPC 2
================================================== */
#academic-levels.opc-2 p {
  color: #FFFFFF;
}

#academic-levels .academic-level.opc-2{
  margin: 20px;
}

#academic-levels.opc-2 .academic-level.initial {
  min-height: 400px;
  background-image: url('../img/academic-levels/inicial_3.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#academic-levels.opc-2 .academic-level.initial .content {
  margin-top: 60px;
  background: rgba(72, 60, 60, 0.6);
}

#academic-levels.opc-2 .academic-level.initial h3{
  color: #1EFF65;
}

#academic-levels.opc-2 .academic-level.primary {
  min-height: 800px;
  background-image: url('../img/academic-levels/primaria_3.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#academic-levels.opc-2 .academic-level.primary .content {
  margin-top: 500px;
  background: rgba(72, 60, 60, 0.6);
}

#academic-levels.opc-2 .academic-level.primary h3{
  color: #FFFA23;
}

#academic-levels.opc-2 .academic-level.secundary {
  min-height: 800px;
  background-image: url('../img/academic-levels/secundaria_3.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#academic-levels.opc-2 .academic-level.secundary .content {
  margin-top: 500px;
  background: rgba(72, 60, 60, 0.6);
}

#academic-levels.opc-2 .academic-level.secundary h3{
  color: #20CEFD;
}


/* ==================================================
   School of Tomorrow
================================================== */
#school-of-tomorrow {
  color: #3F51B5
}

#school-of-tomorrow h2 {
  /*color: #3F51B5;*/
}
/* ==================================================
   SCA
================================================== */
#sca {
  background: #FFEE58;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  color: #474747;
}

#sca h2 {
  font-size: 40px;
  font-weight: bold;
}

#sca .sca-logo {
  margin: 0 auto;
}

#sca .bx-wrapper {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  background-color: #FFEE58;
}

#sca h3 {
  text-align: center;
  font-weight: bold;
  color: #000000;
}

#sca .module {
  margin: 0 0 6em;
}

#sca .module h3 {
  padding: 0.5em 0 1.5em;
}

#sca .module p {
  font-size: 18px;
}

#sca .module .row {
  margin-bottom: 20px;
}

#sca #video1,
#sca #video2,
#sca #video3,
#sca #video4,
#sca #video5,
#sca #video6 {
  max-width: 634px;
  display: inline-block;
  height: auto;
  margin: 0 15px;
  position: relative;
  width: auto;
}

#sca #video1 .video-js,
#sca #video3 .video-js,
#sca #video5 .video-js {
  position: absolute;
  top: 4.9%;
  left: 10.7%;
  width: 79% !important;
  height: auto !important;
}

#sca #video1 .video-js video,
#sca #video2 .video-js video,
#sca #video3 .video-js video,
#sca #video4 .video-js video,
#sca #video5 .video-js video,
#sca #video6 .video-js video {
  height: auto !important;
}

#sca #video1 img,
#sca #video2 img,
#sca #video3 img,
#sca #video4 img,
#sca #video5 img,
#sca #video6 img {
  width: 100%;
  height: 100%;
}

#sca #video2 .video-js,
#sca #video4 .video-js,
#sca #video6 .video-js {
  position: absolute;
  top: 8.5%;
  left: 4%;
  width: 92% !important;
  height: auto !important;
}

#sca .module .video-js {
  margin: 0 auto;
}

#attendance {
  /*background-color: #FFEE58;*/
  background-color: #FFEE58;
}

#evaluation {
  /*background-color: #9FA8DA;*/
  background-color: #FFEE58;
}

#task {
  /*background-color: #66BB6A;*/
  background-color: #FFEE58;
}

/*#attendance h3 {
  color: #FFEE58;
}

#evaluation h3 {
  color: #9FA8DA;
}

#task h3 {
  color: #66BB6A;
}*/

/* ==================================================
   Gallery
================================================== */
#gallery {
  color: #FFFFFF;
}

#gallery h2 {
  /*color: #2196F3;*/
}

#gallery ul.filterOptions {
  text-align: center;
  margin-bottom: 40px;
}

#gallery ul.filterOptions li {
  border: 1px solid transparent;
  text-decoration: none;
}

#gallery ul.filterOptions li a{
  text-decoration: none;
}

#gallery ul.filterOptions li:hover {
  border: 1px solid #0196AF;
}

#gallery ul.filterOptions li.active {
  border: 1px solid #0196AF;
  background-color: #0196AF;
}

#gallery ul.filterOptions li.active a{
  color: #FFFFFF;
}

#gallery .item {
  display: inline-block;
  float: none !important;
  padding: 0 3px 3px 0;
  width: 230px
}

#gallery .item-content {
  margin: 3px;
  float: left;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
}

#gallery .item-content img {
   display: block;
   position: relative;
}

#gallery .item-content h3 {
   text-align: center;
   position: relative;
   font-size: 16px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.4);
}

#gallery .item-content .item-mask {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

#gallery .item-content .item-mask ul {
  height:  118px;
  margin: 5px 0 5px 0;
}

#gallery .item-content .item-mask li {
   font-size: 12px;
   position: relative;
   text-align: left;
   padding-left: 10px;

}

#gallery .item-content .item-mask {
  text-align: right;
}


/*------Transition-------*/

#gallery .item-content .item-mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(77,77,77, 0.9);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

#gallery .item-content:hover .item-mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

#gallery .item-content img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#gallery .item-content:hover img {
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}

#gallery .item-content h3 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

#gallery .item-content a.item-mask-info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

#gallery .item-content:hover a.item-mask-info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

#gallery .item-content:hover h3,
#gallery .item-content:hover a.project-mask-info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}

/* ==================================================
   About us
================================================== */
#about-us {
  background-color: #0D4A44;
}

#about-us  h3 {
  color: #FFC107;
  font-family: 'Niconne', cursive;
  font-size: 52px;
  text-align: center;
}

#about-us .mision.content,
#about-us .vision.content {
  background-color: #FFFFFF;
  margin: 20px;
  padding: 15px;
  min-height: 270px;
  box-shadow: 0 0 20px #CBDEE6;
  border-radius: 6px;
}

#about-us .mision.content h3,
#about-us .vision.content h3 {
  margin-top: 0;
}

#about-us .content p {
  text-align: justify;
  color: #004968;
}

/* ==================================================
   Contacts
================================================== */
#contact {

}

#contact h2 {

}
